<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8"/>
        <title>[[#{organization.edit.headline}]]</title>

        <link th:rel="stylesheet" th:href="@{/assets/select2-develop/dist/css/select2.css}"/>
        <link th:rel="stylesheet" th:href="@{/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{organization.edit.headline}]]</h1>
                <div style="width: 100%">
                    <a th:href="@{/organizations}" class="btn btn-secondary">[[#{organization.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('organization')}" />
            <form th:action="${requestUri}" method="post">
                <div class="form-group">
                    <div th:replace="~{fragments/forms::inputRow(object='organization', field='id', disabled=true, type='number')}" />
                    <div th:replace="~{fragments/forms::inputRow(object='organization', field='name')}" />
                    <div class="row mb-3">
                        <label for="contact" class="col-md-2 col-form-label"><span>Contact</span></label>
                        <div class="col-md-10">
                            <select id="contact" class="form-control select2-single" th:field="*{organization.contactUser}">
                                <option th:value="${organization.contactUser}">
                                    <span th:text="${currentContact}" th:if="${organization.contactUser != null}"></span>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="address" class="col-md-2 col-form-label"><span>Address</span></label>
                        <div class="col-md-10">
                            <select id="address" class="form-control select2-single" th:field="*{organization.addressId}">
                                <option th:value="${organization.addressId}">
                                    <span th:text="${currentAddress}" th:if="${organization.addressId != null}"></span>
                                </option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="userEndpoint" th:value="${userEndpoint}"/>
                    <input type="hidden" id="addressEndpoint" th:value="${addressEndpoint}"/>
                    <input type="submit" th:value="#{organization.edit.headline}" class="btn btn-primary mt-4" />
                </div>
            </form>
        </div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/select2-develop/dist/js/select2.full.js}"></script>

        <script>
            $("#contact").select2({
                theme: "bootstrap4",
                ajax: {
                    url: $("#userEndpoint").val() + "/search",
                    dataType: 'json',
                    delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    },
                    cache: true
                }
            });

            $("#address").select2({
                theme: "bootstrap4",
                ajax: {
                    url: $("#addressEndpoint").val() + "/search",
                    dataType: 'json',
                    delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    },
                    cache: true
                }
            });
        </script>
    </body>
</html>
