<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{userType.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{userType.list.headline}]]</h1>
                <div>
                    <a th:href="@{/usertypes/add}" class="btn btn-primary ms-2">[[#{userType.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${userTypes.empty}">[[#{userType.list.empty}]]</div>
            <div th:if="${!userTypes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{userType.id.label}]]</th>
                            <th scope="col">[[#{userType.name.label}]]</th>
                            <th scope="col">[[#{userType.description.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="userType : ${userTypes}">
                            <td>[[${userType.id}]]</td>
                            <td>[[${userType.name}]]</td>
                            <td>[[${userType.description}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/usertypes/edit/{id}(id=${userType.id})}" class="btn btn-sm btn-secondary">[[#{userType.list.edit}]]</a>
                                    <form th:action="@{/usertypes/delete/{id}(id=${userType.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{userType.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
