<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{amenityType.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{amenityType.list.headline}]]</h1>
                <div>
                    <a th:href="@{/amenitytypes/add}" class="btn btn-primary ms-2">[[#{amenityType.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${amenityTypes.empty}">[[#{amenityType.list.empty}]]</div>
            <div th:if="${!amenityTypes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{amenityType.id.label}]]</th>
                            <th scope="col">[[#{amenityType.name.label}]]</th>
                            <th scope="col">[[#{amenityType.description.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="amenityType : ${amenityTypes}">
                            <td>[[${amenityType.id}]]</td>
                            <td>[[${amenityType.name}]]</td>
                            <td>[[${amenityType.description}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/amenitytypes/edit/{id}(id=${amenityType.id})}" class="btn btn-sm btn-secondary">[[#{amenityType.list.edit}]]</a>
                                    <form th:action="@{/amenitytypes/delete/{id}(id=${amenityType.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{amenityType.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
